.Accordion {
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 10px;
}

.Disclosure-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	padding: 10px;
	border: none;
	border-bottom: 1px solid #ccc;
	width: 100%;
}

.share-icon {
	margin-left: 10px;
	cursor: pointer;
}

.share-icon:hover {
	transform: scale(1.2);
}
