.landing-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	padding: 20px;
	box-sizing: border-box;
}

p {
	margin: 0;
}
