/* .ListItem {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 8px;
	border-bottom: 1px solid var(--color-border);
	font-size: 1.2em;
}

.ListItem-checkbox {
	accent-color: var(--color-accent);
}

.ListItem-label {
	margin-left: 0.2em;
}

.item-name {
	flex-grow: 1;
	margin-right: 10px;
} */

td {
	border-bottom: 1px solid whitesmoke;
}

th {
	background-color: #3e27ed;
	border-bottom: 2px solid #ddd;
}

.duesoon {
	color: orange;
	font-weight: bold;
}

.duekindofsoon {
	color: yellow;
	font-weight: bold;
}

.notduesoon {
	color: green;
	font-weight: bold;
}

.nolongeractive {
	color: gray;
	font-weight: bold;
}

.overdue {
	color: red;
	font-weight: bold;
}
