.Toggle {
	margin-right: 10px;
	display: flex;
	align-items: center;
}

.Toggle-checkbox {
	accent-color: var(--color-accent);
	margin-right: 10px;
	cursor: pointer;
}

.Toggle-label {
	font-size: 1em;
}

.Toggle-text {
	margin-left: 5px;
}
